<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kitchenhelper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kitchenhelper.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kitchenhelper</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kitchenhelper</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:khdbserv.database.windows.net,1433;Initial Catalog=kitchenhelper_db;User ID=Admin123@khdbserv;Password=Nw6nw6nw6" Name="Data Source=tcp:khdbserv.database.windows.net,1433;Initial Catalog=kitchenhelper_db;User Id=Admin123@khdbserv;Password=Nw6nw6nw6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KitchenHelperServer.EF.EfContext, KitchenHelperServer" MigrationConfiguration="KitchenHelperServer.Migrations.Configuration, KitchenHelperServer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:khdbserv.database.windows.net,1433;Initial Catalog=kitchenhelper_db;User Id=Admin123@khdbserv;Password=Nw6nw6nw6</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>